{% extends 'layout/layout.twig' %}

{% block app_body %}
  <div class="container">
    <a id="weight-chard">asd</a>
    <div id="lines-chart"></div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="web/assets/javascripts/components/highcharts/highcharts-lines.js"></script>
  <script src="web/assets/javascripts/components/healthcontrol/lines.js"></script>
{% endblock %}
