{% extends 'layout/layout.twig' %}

{% block app_body %}
  <div class="lines-chart"></div>
{% endblock %}

{% block scripts %}
  <script src="web/assets/javascripts/components/highcharts/highcharts-lines.js"></script>
  <script src="web/assets/javascripts/components/healthcontrols/lines.js"></script>
{% endblock %}
