.btn-circle {
  margin: 10px;
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

.btn-circle i.fa {
  font-size: .96154rem;
  margin: auto;
}

.btn-circle i.material-icons {
  margin: auto;
  line-height: 1.33;
}

.btn-circle.btn-xs i.material-icons {
  font-size: 20px;
  line-height: 0.9;
}

.nav-tabs {
  border: 0;
  padding: .7rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: -20px;
  background-color: #2BBBAD;
  z-index: 2;
  position: relative;
  border-radius: 2px;
}

.nav-tabs .nav-link {
  color: #fff;
  border: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.nav-tabs .nav-link.active {
  background-color: rgba(255, 255, 255, .2);
  color: #fff;
  -webkit-transition: all 1s;
  transition: all 1s;
  border: 0;
  border-radius: 2px;
}
