<!DOCTYPE html>
<html lang="es">

  <head>
    <base href="{{ app.url }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#62a8eb">
    <meta name="keywords" content="Hospital Ricardo Gutiérrez">
    <meta name="description" content="Plataforma web para el Hospital Gutiérrez">
    <meta name="robots" content="index,follow">
    <meta property="og:url" content="https://grupo5.proyecto2017.linti.unlp.edu.ar/"/>
    <meta property="og:title" content="Hospital Dr. Ricardo Gutiérrez"/>
    <meta property="og:site_name" content="Hospital Gutiérrez"/>
    <meta property="og:description" content="Plataforma web para el Hospital Gutiérrez"/>
    <meta property="og:image" content="https://grupo5.proyecto2017.linti.unlp.edu.ar/web/assets/images/icon.png"/>

    <title>301 - Moved Permanently</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="web/assets/stylesheets/main.css">
    <link rel="stylesheet" href="web/assets/stylesheets/error.css">
  </head>

  <body>
    <div class="error">
      <div class="error-code m-b-10 m-t-20">301
        <i class="fa fa-warning"></i>
      </div>
      <h3 class="font-bold">No hemos podido encontrar la página</h3>

      <div class="error-desc">
        Lo sentimos, pero la página que busca ha sido movida permanentemente a otra dirección.
        <br/>
        <div>
          <a href="/">
            <i class="fa fa-arrow-left"></i>
            Volver a la página principal.
          </a>
        </div>
      </div>
    </div>
  </body>

  <script src="web/node_modules/jquery/dist/jquery.min.js"></script>

  <script src="web/node_modules/mdbootstrap/js/popper.min.js"></script>
  <script src="web/node_modules/mdbootstrap/js/bootstrap.min.js"></script>
  <script src="web/node_modules/mdbootstrap/js/mdb.min.js"></script>

</html>
