{% extends 'layout/layout.twig' %}

{% block app_body %}
  <div class="container home">
    <h1 class="text-center">{{app.name}}</h1>
    <hr><br>
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-5 ml-auto col-xl-4 pb-3">
        <!--Featured image-->
        <div class="view overlay hm-white-slight z-depth-1-half">
          <img src="web/assets/images/home/hospital.jpg" alt="Imagen del frente del hospital" class="img-fluid">
          <a>
            <div class="mask waves-effect waves-light"></div>
          </a>
        </div>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-7 mr-auto col-xl-6">
        <!--Excerpt-->
        <a href="#!" class="green-text">
          <h6 class="font-bold pb-1">
            <i class="fa fa-hospital-o"></i>
            Información</h6>
        </a>
        <h4 class="mb-4">
          <strong>El Hospital</strong>
        </h4>
        <p>Este centro de salud tiene un programa de residencias de primer nivel en el pais. Se ofrecen oportunidades de práctica intensiva y supervisada en ambitos profesionales y por la misma -por supuesto- se recibe un salario mensual, acorde a lo que la
          regulación médica profesional lo indica en cada momento.</p>
      </div>
      <!--Grid column-->
    </div>

    <hr>

    <div class="row">
      <!--Grid column-->
      <div class="col-lg-7 ml-auto col-xl-6 pb-3">
        <!--Excerpt-->
        <a href="#!" class="pink-text">
          <h6 class="font-bold pb-1">
            <i class="fa fa-medkit"></i>
            Organización</h6>
        </a>
        <h4 class="mb-4">
          <strong>Guardia</strong>
        </h4>
        <p>Hospital Dr. Ricardo Guitierrez de La Plata dispone de un sofisticado servicio de guardias medicas las 24 horas para la atención de distintas urgencias. La administración de la institución hace viable una eficiente superación de los pacientes
          según el nivel de seriedad y tipo de patología.</p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-5 mr-auto col-xl-4 mb-5">
        <!--Featured image-->
        <div class="view overlay hm-white-slight z-depth-1-half">
          <img src="web/assets/images/home/guardia.jpg" alt="Foto sobre la guardia del hospital" class="img-fluid">
          <a>
            <div class="mask waves-effect waves-light"></div>
          </a>
        </div>
      </div>
      <!--Grid column-->
    </div>

    <hr>

    <div class="row pb-5">
      <!--Grid column-->
      <div class="col-lg-5 ml-auto col-xl-4 pb-3">
        <!--Featured image-->
        <div class="view overlay hm-white-slight z-depth-1-half">
          <img src="web/assets/images/home/especialidades.jpg" alt="Imagen sobre especialidades del hospital" class="img-fluid">
          <a>
            <div class="mask waves-effect waves-light"></div>
          </a>
        </div>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-7 mr-auto col-xl-6">
        <!--Excerpt-->
        <a href="" class="indigo-text">
          <h6 class="font-bold pb-1">
            <i class="fa fa-graduation-cap"></i>
            Especialidades</h6>
        </a>
        <h4 class="mb-4">
          <strong>Lo mejor para el cuidado de los niños</strong>
        </h4>
        <p>Acorde a una respetable trayectoria en materia de medicina y salud, en Hospital Dr. Ricardo Gutierrez de La Plata podemos encontrar profesionales de salud. Del mismo modo, se brinda atención programada y de urguencias, se realizan estudios médicos
          y se brinda soporte en muchas de las ramas comunes de la medicina moderna.</p>
      </div>
      <!--Grid column-->
    </div>
  </div>
{% endblock %}
