<div class="row mb-3">
  <div class="col-lg-3 col-xs-6">
    <div class="card white-text">
      <div class="card-body color-block-dark default-color">
        <div class="rotate">
          <i class="fa fa-user fa-5x"></i>
        </div>
        <h6 class="text-uppercase">Users</h6>
        <h1 class="display-1">20</h1>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-xs-6">
    <div class="card card-inverse">
      <div class="card-body color-block-dark secondary-color">
        <div class="rotate">
          <i class="fa fa-user fa-5x"></i>
        </div>
        <h6 class="text-uppercase">Usuarios</h6>
        <h1 class="display-1">{{ users }}</h1>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-xs-6">
    <div class="card card-inverse">
      <div class="card-body mdb-color">
        <div class="rotate">
          <i class="fa fa-user fa-5x"></i>
        </div>
        <h6 class="text-uppercase">Pacientes</h6>
        <h1 class="display-1">{{ users }}</h1>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-xs-6">
    <div class="card card-inverse">
      <div class="card-body mdb-color">
        <div class="rotate">
          <i class="fa fa-user fa-5x"></i>
        </div>
        <h6 class="text-uppercase">Users</h6>
        <h1 class="display-1">{{ users }}</h1>
      </div>
    </div>
  </div>
</div>
<!--/row-->
