<div class="row mb-3">
  <div class="col-lg-3 col-xs-6">
    <div class="card card-inverse">
      <div class="card-body default-color">
        <div class="rotate">
          <i class="fa fa-user fa-5x"></i>
        </div>
        <h6 class="text-uppercase">Users</h6>
        <h1 class="display-1">{{ users }}</h1>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-xs-6">
    <div class="card card-inverse">
      <div class="card-body secondary-color">
        <div class="rotate">
          <i class="fa fa-user-plus fa-5x"></i>
        </div>
        <h6 class="text-uppercase">Pacientes</h6>
        <h1 class="display-1">{{ patients }}</h1>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-xs-6">
    <div class="card card-inverse">
      <div class="card-body unique-color">
        <div class="rotate">
          <i class="fa fa-user fa-5x"></i>
        </div>
        <h6 class="text-uppercase">Roles</h6>
        <h1 class="display-1">{{ roles }}</h1>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-xs-6">
    <div class="card card-inverse">
      <div class="card-body primary-color">
        <div class="rotate">
          <i class="fa fa-user fa-5x"></i>
        </div>
        <h6 class="text-uppercase">Permisos</h6>
        <h1 class="display-1">{{ permissions }}</h1>
      </div>
    </div>
  </div>
</div>
<!--/row-->
