{% extends 'layout/layout.twig' %}

{% block app_body %}
  <div class="container mt-5">
    <h4 class="text-center">Gráficos</h4>
    <div class="list-group mt-5">
      {% for graphs in graph %}
      <a href="graph" class="list-group-item">graph</a>
      {% endfor %}
    </div>
  </div>
{% endblock %}
