{% extends 'layout/layout.twig' %}

{% block app_body %}

  <div class="container mt-5">
    <h4 class="text-center">Gráfico de tortas para porcentaje de pacientes con datos demográficos</h4>
    <div id="demographicDataData">
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="web/assets/javascripts/components/highcharts/highcharts-pie.js"></script>
  <script src="web/assets/javascripts/components/healthcontrol/pie.js"></script>
{% endblock %}
