form.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

input {
  position: relative;
  display: flex;
  padding: 4px 7px;
  height: 28px;
  font-size: 12px;
  line-height: 1.5;
  color: rgba(0, 0, 0, .65);
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  transition: all .3s;
}

input:focus, input:hover {
  border-color: #49a9ee;
}

input:focus {
  outline: 0;
  box-shadow: 0 0 0 2px rgba(16, 142, 233, .2);
}
