form.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

input {
  position: relative;
  display: flex;
  padding: 4px 7px;
  height: 28px;
  font-size: 12px;
  line-height: 1.5;
  color: rgba(0, 0, 0, .65);
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  transition: all .3s;
}

input:focus, input:hover {
  border-color: #49a9ee;
}

input:focus {
  outline: 0;
  box-shadow: 0 0 0 2px rgba(16, 142, 233, .2);
}

.form-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.input-group {
  position: relative;
  display: flex;
  flex: 1 0 auto;
}

.input-group .suffix, .input-group .prefix {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  color: rgba(0, 0, 0, .65);
}

.input-group .prefix {
  left: 7px;
}

.input-group .prefix+input {
  padding-left: 35px;
}

.input-group .suffix {
  right: 7px;
}

.input-group .suffix+input {
  padding-right: 24px;
}

input[type=checkbox], input[type=radio] {
  margin: 4px 0 0;
  line-height: normal;
  box-sizing: border-box;
  padding: 0;
}

input[type=checkbox] {
  opacity: 0;
  z-index: 1;
  width: 20px;
  height: 20px;
  position: absolute;
  margin-top: 0;
  margin-bottom: 0;
}

.checkbox{
    margin-top: 0;
    display: inline-block;
    margin-bottom: 0;
    padding-left: 20px;
    cursor: pointer;
}
.checkbox label{
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 10px;
    cursor: pointer;
}
.checkbox input[type=checkbox]+label::before {
    content: '';
    z-index: 1;
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #e4eaec;
    border-radius: 3px;
    background-color: #fff;
    transition: all .3s ease-in-out 0s;
    cursor: pointer;
}

.checkbox input[type=checkbox]+label::after {
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    line-height: 20px;
    left: 0;
    top: 0;
    margin-left: -20px;
    text-align: center;
    padding-top: 1px;
    font-size: 15px;
    color: #fff;
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    /* Preferred icon size */
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    /*text-rendering: optimizeLegibility;*/
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: "liga";
    z-index: 2;
}

.checkbox input[type=checkbox]:checked+label::before{
    background-color: #62a8ea;
    border-color: #62a8ea;
}
.checkbox input[type=checkbox]:checked+label::after{
    content: "check";
}
