@-ms-viewport {
  width: device-width;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}


.container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

/* Here define cols */

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background: rgba(0,0,0,.8);
  border-radius: 0.4rem;
}

.jumbotron h1 {
  color: #fff;
}

.jumbotron p {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 200;
  color: #fff;
}

.jumbotron > hr {
  border-top-color: #d5d5d5;
}

.jumbotron-fluid {
  padding-right: 0;
  padding-left: 0;
  border-radius: 0;
}

@media (min-width: 576px) {
  .jumbotron {
    padding: 4rem 2rem;
  }
}
