.navbar {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1 0 auto;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  z-index: 1050;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
  color: rgba(0, 0, 0, .65);
  background: #fff;
  line-height: 46px;
}

.navbar .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.navbar .container-fluid {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}

.navbar .brand {
  display: flex;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  color: #404040;
  text-decoration: none;
}

.navbar .brand:hover {
  color: #333;
}

.navbar .brand img {
  max-height: 42px;
}

.navbar .brand p {
  padding: auto;
  margin: auto auto auto 20px;
}

@media(max-width: 575px) {
  .navbar .brand p {
    display: none;
  }
}

.navbar .nav-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  line-height: 66px;
}

.navbar .nav-items {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0 1rem;
  padding: 0;
}

.navbar ul.nav-items li {
  display: flex;
  background-color: #fff;
}

.navbar ul.nav-items li>a {
  color: #333;
  text-decoration: none;
}

.navbar ul.nav-items>li>a {
  line-height: 64px;
  border-bottom: 2px solid transparent;
  padding: 0 20px;
  margin: 0;
}

.navbar ul.nav-items li:hover>a {
  color: #62a8ea;
}

.navbar ul.nav-items>li:hover>a {
  border-color: #62a8ea;
}

@media(max-width: 575px) {
  .navbar {
    flex-direction: column;
    align-items: stretch;
  }
}
