{% if get.show %}
  <div class="alert alert-{{ (get.success == true) ? 'success' : 'warning' }} alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <p>
      <small>
        <strong>{{ get.message }}</strong>
      </small>
    </p>
  </div>
{% endif %}
